*{
padding: 0;
margin: 0;
box-sizing:   border-box ;
font-family: var(--fonte);


}

body{
background-image: url(img/fundo.jpg);

}

main{
 padding-left: 500px;
 width: px;
 display: flex;
margin: 0;
background-image: url(img/fundo.jpg);
gap: 30px;
align-items: center;
padding-top: 300px;
border-radius: 40px;

}

.textos h1,h2{
color: aliceblue;


}

.textos h1{
font-size: 50px;

}

.textos h2{

margin-bottom: 1rem;

}


p{
 color: rgb(255, 255, 255);

}

.logos{
 

}

.logos img{
    width: 50px;
    height: 50px;


}

.textos{
 text-align: center;


}
section.textos{
padding-bottom: 1rem;
width: 90vw;




}

section.textos p{
font-size: 17px;

}


.pessoa{
 display: flex;
justify-content: center;

}


.pessoa img{

 width: 500px;
 object-fit: cover;

}

span{
color: gray;

}


.form{
background-color: black;
border-radius: 50px;





}

label{
color: white;

}

.textos{
 background-color: black;
 border-radius: 50px;

}